body { 
    text-align: center;
}

ul li {
    list-style: none;
    margin-top: 10px;
}


label {
    margin-right: 10px;
    width:130px;
    float: left;
}

ul {
    width: 350px;
    margin: 0 auto;
}


input#button {
    display: block;
    margin: 0 auto;
}