@charset "UTF-8";


body {
  text-align: center;
	display: block;
}

a{

	font-size:20px;
  	line-height: 3em;

}

p{

	text-align: right;
	display: inline-block;
	line-height: 3em;

}

ul li {
    list-style: none;
}

.center{

	margin: 16px auto;
	text-align: center;
	display: block;
	border: 1px solid #000;

}

.right{

	text-align: right;
	display: inline-block;

}

