h1{
    text-align: center;
}

#aiueo{
    width: 1000px;
    margin-right: 33%;
    margin-left: 33%; 
}

#ooo{
    width: 1000px;
    margin-right: 33%;
    margin-left: 33%; 
}

#zzz{
    width: 1000px;
    margin-right: 33%;
    margin-left: 33%; 
}