/*-------------------------------------------------------- */


/* 全ページ共有部分 */

body {
    margin: 0 100px;
    background-image: url("../img/background.png");
    background-size: cover;
}

.bg-opacity {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
}

#header {
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: left;
}

#systemName {
    font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
    font-weight: bold;
    background: linear-gradient(transparent 70%, #FFFF00 90%);
}

.systemNameTitle {
    margin-left: 50px;
    font-size: 40px;
    text-align: left;
}

h2 {
    text-align: center;
    margin: 30px auto;
}

.headerIcon {
    display: inline-block;
}

.headerBtn {
    float: right;
    padding-top: 50px;
    margin-left: 10px;
}


/* ------------------------------------------------------------------------- */

.info {
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
}

.infobold {
    font-size: x-large;
}

p {
    text-align: center;
    align-content: center;
    align-items: center;
}

#infobody {
    text-align: right;
}